<% if (typeof success !== 'undefined' && success && success.length) { %>
<div class="alert success-alert" role="alert">
  <% success.forEach(function(msg) { %>
  <p><%= msg %></p>
  <% }) %>
  <button type="button" class="close" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<% } %> <% if (typeof error !== 'undefined' && error && error.length) { %>
<div class="alert danger-alert" role="alert">
  <% error.forEach(function(msg) { %>
  <p><%= msg %></p>
  <% }) %>
  <button type="button" class="close" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<% } %>
