<header class="navbar">
  <div class="left">
    <a href="/">Core-Beat</a>
  </div>
  <div class="right">
    <% if (currentUser) { %>
      <a href="/patient/dashboard">Dashboard</a>
      <a href="/logout">Logout</a>
    <% } else { %>
      <a href="/login">Login</a>
    <% } %>
  </div>
</header>
