<header class="navbar">
  <div class="left">Patrick Star</div>
  <nav class="right">
    <a href="#work">Work</a>
    <a href="#contact">Contact</a>
    <a href="#dribble">
      <img src="images/dribble_icon.png" alt="" />
    </a>
    <a href="#insta">
      <img src="images/insta_icon.png" alt="" />
    </a>
    <a href="#v">
      <img src="images/v_icon.png" alt="" />
    </a>
  </nav>
  <div class="hamburger">
    <div class="bar1"></div>
    <div class="bar2"></div>
    <div class="bar3"></div>
  </div>
  <nav class="mobileNav">
    <a href="#work">Work</a>
    <a href="#contact">Contact</a>
    <a href="#dribble">
      <img src="images/dribble_icon.png" alt="" />
    </a>
    <a href="#insta">
      <img src="images/insta_icon.png" alt="" />
    </a>
    <a href="#v">
      <img src="images/v_icon.png" alt="" />
    </a>
  </nav>
</header>
