<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- CSS files global-->
    <link rel="stylesheet" href="/stylesheets/navbar.css" />
    <!-- CSS file specific-->
    <link rel="stylesheet" href="/stylesheets/home.css" />

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Momo+Signature&family=Momo+Trust+Display&display=swap"
      rel="stylesheet"
    />
    <title>boilerplate</title>
  </head>
  <body style="margin: 0">
    <%- include('../partials/navbar') %>

    <!-- The page content -->
    <%- body %>

    <!-- Js global -->
    <script src="/javascripts/navbar.js"></script>
    <!-- File specific JS -->
    <script src="/javascripts/home.js"></script>
  </body>
</html>
