<% layout('layouts/boilerplate')%>
<canvas id="canvas"></canvas>
<img src="heart.png" alt="" id="heartImg" />
<div id="slogan">
  Measure your heart beat accurately and effectively now, uncompromised health
</div>
