<% layout('layouts/boilerplate')%>
<div class="top-buttons">
  <form action="/login" method="GET">
    <button type="submit">Login</button>
  </form>
</div>
<canvas id="canvas"></canvas>
<img src="heart.png" alt="" id="heartImg" />
<div id="slogan">
  Measure your heart beat accurately and effectively now, uncompromised health
</div>
