body {
  font-family: "Poppins", sans-serif;
}

.container {
  max-width: 90%;
  margin: 0 auto;
  padding: 0 16px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 40px 50px;
  background-color: #25252b;
  border-bottom: 5px solid #ff2770; /* The neon pink border */
  box-shadow: 0 0 20px #ff2770; /* The glowing shadow effect */
  position: relative;
  /* z-index: 10; */
}
.navbar .left {
  font-size: 32px;
  font-weight: bold;
}
.navbar .left a {
  color: #fff;
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.3);
}
.navbar .right {
  width: 600px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.navbar a {
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  transition: 0.3s;
}
.navbar .right a:hover {
  text-decoration: none;
  color: #ff2770;
  text-shadow: 0 0 10px #ff2770;
}
.navbar ul {
  background-color: #25252b;
  border: 1px solid #ff2770;
}
.dropdown-divider {
  background-color: gray;
}
/* .navbar .right img {
  width: 24px;
  height: 24px;
} */

.bar1,
.bar2,
.bar3 {
  background-color: #fff;
  height: 4px;
  width: 36px;
  margin: 3px;
  border-radius: 10px;
  transition: 0.3s;
}
.navbar .hamburger {
  display: none;
  z-index: 3;
}
.navbar .hamburger:hover {
  cursor: pointer;
}

.mobileNav {
  width: 150px;
  height: 100vh;
  background-color: #25252b; /* Dark theme background */
  border-left: 2px solid #ff2770;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 2;
  top: 0;
  right: -180px;
  padding: 16px;
  transition: transform 0.3s;
}
/* .mobileNav img {
  height: 24px;
  width: 24px;
} */
.openDrawer {
  transform: translateX(-180px);
}
.mobileNav a {
  text-decoration: none;
  color: #fff;
  margin: 16px 0;
}
.mobileNav a:hover {
  text-decoration: none;
  color: #ff2770;
  text-shadow: 0 0 5px #ff2770;
}

.project-grid {
  display: grid;
  grid-template-areas:
    "eth eth alphabet"
    "eth eth traveler"
    "astro cube traveler"
    "astro cube traveler"
    "cup insta insta"
    "cup insta insta"
    "foam foam dimensional"
    "foam foam dimensional";
  gap: 16px;
  width: 100%;
}
#eth {
  grid-area: eth;
}
#alphabet {
  grid-area: alphabet;
}
#traveler {
  grid-area: traveler;
}
#cube {
  grid-area: cube;
}
#astro {
  grid-area: astro;
}
#cup {
  grid-area: cup;
}
#insta {
  grid-area: insta;
}
#foam {
  grid-area: foam;
}
#dimensional {
  grid-area: dimensional;
}
.project {
  position: relative;
}

.project img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.project .overlay {
  background-color: rgba(255, 255, 255, 0.1);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  font-size: 36px;
  font-weight: bold;
  letter-spacing: 2px;
  opacity: 0;
  transition: all 0.2s ease;
}
.project .overlay:hover {
  opacity: 1;
  cursor: pointer;
}

.overlay.white {
  color: white;
}

.footer {
  text-align: center;
  padding: 64px;
}

@media only screen and (max-width: 1100px) {
  .container {
    max-width: 100%;
  }
  .project-grid {
    max-width: 100%;
    grid-template-areas:
      "eth eth "
      "alphabet traveler"
      "astro cube "
      "insta insta"
      "cup foam "
      "dimensional dimensional";
  }
}
@media only screen and (max-width: 1000px) {
  .project-grid {
    margin-top: 100px;
  }
  .navbar {
    padding: 16px 24px;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    background-color: #25252b;
    width: 100%;
  }
  .navbar .right {
    display: none;
  }
  .navbar .hamburger {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .project-grid {
    grid-template-areas:
      "eth eth"
      "alphabet alphabet"
      "traveler traveler "
      "astro cube"
      "insta insta"
      "cup cup"
      "foam foam "
      "dimensional dimensional";
  }
  .project .overlay {
    font-size: 24px;
  }
}

.animateBar1 {
  animation: flipBar1 1s;
  animation-fill-mode: forwards;
}
.animateBar2 {
  animation: fadeBar2 1s;
  animation-fill-mode: forwards;
}
.animateBar3 {
  animation: flipBar3 1s;
  animation-fill-mode: forwards;
}

@keyframes flipBar1 {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(45deg) translate(4px, 10px);
  }
}
@keyframes fadeBar2 {
  from {
    transform: scaleX(1);
    opacity: 1;
  }
  to {
    transform: scaleX(0);
    opacity: 0;
  }
}
@keyframes flipBar3 {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(-45deg) translate(4px, -10px);
  }
}
