<% layout('layouts/boilerplate')%>
<div class="wrapper">
  <div class="container">
    <div class="curved-shape"></div>
    <div class="curved-shape2"></div>
    <div class="form-box Login">
      <h2 class="animation" style="--D: 0; --S: 21">Login</h2>
      <form action="/login" method="post">
        <div class="input-box animation" style="--D: 1; --S: 22">
          <input type="text" name="email" required />
          <label for="email">Email</label>
          <box-icon name="envelope" type="solid"></box-icon>
        </div>

        <div class="input-box animation" style="--D: 2; --S: 23">
          <input type="password" name="password" required />
          <label for="password">Password</label>
          <box-icon name="lock-alt" type="solid"></box-icon>
        </div>

        <div class="input-box animation" style="--D: 2; --S: 23">
          <select name="role" required>
            <option value="" disabled selected></option>
            <option value="user">Patient</option>
            <option value="physician">Physician</option>
          </select>
          <label for="role">Log In As</label>
          <box-icon name="group" type="solid"></box-icon>
        </div>

        <div class="input-box animation" style="--D: 3; --S: 24">
          <button class="btn" type="submit">Login</button>
        </div>

        <div class="regi-link animation" style="--D: 4; --S: 25">
          <p>
            Don't have an account? <br />
            <a href="#" class="SignUpLink">Sign Up</a>
          </p>
        </div>
      </form>
    </div>

    <div class="info-content Login">
      <h2 class="animation" style="--D: 0; --S: 20">WELCOME BACK!</h2>
      <p class="animation" style="--D: 1; --S: 21">
        We are happy to have you with us again. If you need anything, we are
        here to help.
      </p>
    </div>

    <div class="form-box Register">
      <h2 class="animation" style="--li: 17; --S: 0">Register</h2>
      <form action="/register" method="post">
        <div class="input-box animation" style="--li: 19; --S: 2">
          <input type="email" name="email" required />
          <label for="email">Email</label>
          <box-icon name="envelope" type="solid"></box-icon>
        </div>

        <div class="input-box animation" style="--li: 19; --S: 3">
          <input type="password" name="password" required />
          <label for="password">Password</label>
          <box-icon name="lock-alt" type="solid"></box-icon>
        </div>

        <div class="input-box animation" style="--li: 19; --S: 3">
          <select name="role" id="registerRole" required>
            <option value="" disabled selected></option>
            <option value="patient">Patient</option>
            <option value="physician">Physician</option>
          </select>
          <label for="role">Log In As</label>
          <box-icon name="group" type="solid"></box-icon>
        </div>

        <div
          class="input-box animation physician-field"
          id="licenseIdBox"
          style="--li: 22; --S: 5; display: none"
        >
          <input type="text" name="licenseId" />
          <label for="licenseId">Medical License ID</label>
          <box-icon name="medal" type="solid"></box-icon>
        </div>

        <div
          class="input-box animation user-field"
          id="deviceIdBox"
          style="--li: 22; --S: 5; display: none"
        >
          <input type="text" name="serialNumber" />
          <label for="serialNumber">Device ID</label>
          <box-icon name="devices" type="solid"></box-icon>
        </div>

        <div class="input-box animation" style="--li: 20; --S: 4">
          <button class="btn" type="submit">Register</button>
        </div>

        <div class="regi-link animation" style="--li: 21; --S: 5">
          <p>
            Already have an account? <br />
            <a href="#" class="SignInLink">Sign In</a>
          </p>
        </div>
      </form>
    </div>

    <div class="info-content Register">
      <h2 class="animation" style="--li: 17; --S: 0">WELCOME!</h2>
      <p class="animation" style="--li: 18; --S: 1">
        We’re delighted to have you here. If you need any assistance, feel free
        to reach out.
      </p>
    </div>
  </div>
</div>
